

.block-left-homework{
  width: 430px;
}

.block-left-header-homework{
  width: 100%;
}

.block-left__text-c-hw{
  margin: 0;
}

.block-left-header-p{
  padding: 0 13px;
}

.block-middle-full-t-hw{
  margin-top: 17px;
}

.block-left__text-hw{
  font-weight: 700;
  font-size: 24px;
}

.block-middle-info__expires{
  font-weight: 400;
  font-size: 20px;
}

.status{
  margin-top: 30px;
  font-weight: 400;
  font-size: 19px;
  &-color{
    font-weight: 700;
    font-size: 19px;
    &__purple{
      color: var(--purple);
    }
    &__green{
      color: var(--green);
    }
    &__red{
      color: var(--red);
    }
  }
}

.block-middle-info{
  &__text{
    margin-top: 25px;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
  }
  &__files-file-box{
    margin-top: 25px;
  }
  &__files-block{
    margin-top: 40px;
    padding-bottom: 13px;
    width: 100%;
    &__text{
      width: 100%;
      padding-bottom: 13px;
      font-weight: 700;
      font-size: 20px;
      border-bottom: 1px solid #fff;

    }
  }
}

.block-right-hw{
  width: 400px;
}

.image-block-top__text{
  & > span{
    margin-left: auto;
  }
}

.image-block-hw{
  padding-top: 46px;
}
