

.block-left-homework{
  width: 430px;
}

.block-left-header-homework{
  width: 100%;
}

.block-left__text-c-hw{
  margin: 0;
}

.block-left-header-p{
  padding: 0 13px;
}

.block-middle-full-t-hw{
  margin-top: 17px;
}

.block-left__text-hw{
  font-weight: 700;
  font-size: 24px;
}