.block-middle-admin{
  padding-top: 48px;
  flex-grow: 1;
}

.upload-placeholder-admin{
  position: static;
  display: block;
  margin-bottom: 10px;
  background-color: transparent;
}

.admin-upload-container{
  margin-top: 10px;
  background: transparent;
  width: 250px;
  margin-left: 10px;
  & > input{
    outline: none;
    &:focus{
      border: 1px solid var(--purple);
    }
  }
}

.info-cont{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.custom-datepicker-wrapper-admin{
  margin-top: 10px;
  margin-left: 10px;
}

.admin-add-btn{
  padding: 10px 32px;
  color: #fff;
  font-weight: 600;
  background: var(--purple);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
}

.btn-cont{
  width: 100%;
  display: flex;
  justify-content: start;
}

.link-button-active-user{
  width: 31px;
  height: 31px;
  & > path{
    width: 31px;
    height: 100%;
  }
}