.block {
  &-middle{
    &-wrapper{
      background-color: var(--light-black);
      position: relative;
      padding: 17px 20px;
    }
    &-grade{
      width: 75vw;
      padding-top: 133px;
      background-color: var(--total-black);
    }
    &-tabs{
      background-color: var(--light-black);
      padding: 5px 24px;
      top: -46px;
      left: 0;
      position: absolute;
      display: flex;
      border-radius: 10px 10px 0 0;
      &__text{
        border-radius: 10px;
        background: transparent;
        border: none;
        padding: 8px 23px;
        margin-left: 36px;
        font-weight: 400;
        font-size: 18px;
        transition: .25s;
        &:first-child{
          margin-left: 0;
        }
        &-active{
          background: #434c59;
          transition: .25s;
        }
      }
    }
  }
}