.nav-admin{
  height: 100%;
}

.nav-other-admin{
  align-items: center;
  justify-content: center;
  height: 35px;
}

.link-img-active-4-admin{
  fill: var(--purple);
  & > path{
    fill: var(--purple);
  }
}