.language-switcher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 37px;
    height: 37px;

    color: #fff;
    transition: background-color 0.3s;
    background: var(--total-black);
    &:hover {
      background-color: var(--purple);
    }

    &:disabled {
      opacity: 0.5;

      background-color: var(--purple);
      cursor: not-allowed;
    }
  }
}
