.card{
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  & .select{
    color: white;
    margin-left: 5px;
    cursor: pointer;
    transition: .4s;
    width: 351px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    & > p{
      margin-top: 100px;
    }
    & > img{
      margin-bottom: 25px;
    }
    &:hover{
      opacity: 0.6;

    }
  }
  & > .top{
    text-align: center;
  }
  & > p {
    font-weight: 600;
    color: white;
  }

  & > button{
    outline: none;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    padding: 11px 0;
    width: 100%;
    background-color: var(--purple);
  }
  & > .drag-area{
    min-height: 370px;
    border-radius: 10px;
    border: 3px dashed white;
    color: white;
    font-weight: 700;
    font-size: 22px;
    background-color: rgba(67, 76, 89, 1);
    border-spacing: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    transition: .25s;
    &:hover{
    background-color: rgba(67, 76, 89, .5);
      transition: .25s;
    }
    & .visible{
      font-size: 18px;
    }


    & > input{
      opacity: 0;
    }
  }
}

.drag-container{
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  & .image{
    max-width: 100%;
    margin-top: 5px;
    position: relative;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > img{

    }
    & span{
      position: absolute;
      top: -2px;
      right: 2px;
      font-size: 20px;
      cursor: pointer;
    }

  }
}

.card input,
.card .drag-area .on-drop,
.card .drag-area.dragover .visible{
  display: none;
}

.delete{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--purple);
  font-size: 40px;
  cursor: pointer;
  position: relative;
  right: 0;
}


.image-container {
  width: 100%;
}


.loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: #434C59;
  border-radius: 10px;
  border: none;
  z-index: 9999;
  & > img{
    width: 30px;
    height: 33px;
  }
}

.loaded-img{
  width: 75px;
  height: 75px;
  border-radius: 10px;
  border: none;
}

.image{
  &__text{
    font-weight: 700;
    font-size: 18px;
  }
}

.animated-line{
  border-radius: 10px;
  width: 250px;
  height: 10px;
  background: #b4b7bc;
}

.delete-inside{
  position: relative;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image {
  position: relative;
}

@keyframes loading {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}

.loader{
  &-line {
    width: 100%;
    height: 10px;
    background-color: #b4b7bc;
    border-radius: 10px;
    border: none;
    & > div{
      width: 0;
      height: 100%;
      border-radius: 10px;
      border: none;
      background: var(--purple);
      animation: loading 2s ease-in forwards;
    }
  }
  &-info{
    width: 59%;
    margin-left: -15px;
  }
  &-text{
    max-width: 100%;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 6px;
    word-wrap: break-word;
    word-break: break-word;

  }
}



